<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.crm.dao.CustomerMapper">
	<!-- select all-->
	<select id="selectAll" resultType="com.crm.domain.Customer">
		select id,NAME,gender,telephone,address
		from ssm.t_customer
	</select>
	
	<!-- insert a customer -->
	<insert id="insert" parameterType="com.crm.domain.Customer">
		INSERT INTO ssm.t_customer
		(NAME, gender, telephone, address)
		VALUES (#{name},#{gender},#{telephone}, #{address})
	</insert>
	
	<!-- update customer referring to id-->
	<update id="update" parameterType="com.crm.domain.Customer">
		UPDATE ssm.t_customer
		SET
		NAME = #{name} ,
		gender = #{gender} ,
		telephone = #{telephone} ,
		address = #{address}
		WHERE
		id = #{id}
	</update>
	
	<!-- find by id-->
	<select id="findById" parameterType="int" resultType="com.crm.domain.Customer">
		SELECT id, NAME, gender, telephone,	address
		FROM ssm.t_customer
		where id = #{value}
	</select>
	
	<!-- delete in batches -->
	<delete id="delete" parameterType="Integer[]">
		DELETE FROM ssm.t_customer		
		<!-- the "where tag" is same as "id in (1,2,3)" -->
		<where>
			id
			<!-- collection refers to Integer[], and item refers to elements in array -->
			<foreach collection="array" item="eachID" open="in (" close=")" separator=",">
				#{eachID}
			</foreach>
		</where>
	</delete>

</mapper>