<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.crm.dao.CustomerMapper">
	<!-- select all-->
	<select id="selectAll" resultType="com.crm.domain.Customer">
		select id,NAME,gender,telephone,address
		from ssm.t_customer
	</select>
</mapper>